@model MemberRegistrationAppln.Models.LoginDetails
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <aside class="col-sm-6">
                    <div class="card">
                        <article class="card-body">
                            <h4 class="card-title mb-4 mt-1">Sign in</h4>
                            @*<form>*@
                            @using (Html.BeginForm())
                            {
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    @*<input name="" class="form-control" placeholder="Email" type="email">*@
                                    @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <label>Password</label><br />
                                    @Html.PasswordFor(model => model.Passwrd, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Passwrd, "", new { @class = "text-danger" })
                                </div> <!-- form-group// -->
                                <!-- <div class="form-group">
                                    <div class="checkbox">
                                        <label> <input type="checkbox"> Save password </label>
                                    </div> <!-- checkbox .//
                                </div>  -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                                </div> <!-- form-group// -->
                                @*</form>*@
                            }
                        </article>
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->
            </div>
        </div>
        @Html.ActionLink("Not a member? Click here to Register", "AddUser", "Register")
    </div>
</body>
</html>
@if (ViewBag.isValid == "false")
{
    <script type="text/javascript">
        alert("Please enter the valid login details")
    </script>
}